.frayrrusel-main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: scroll;
}

.frayrrusel-page {
    position: absolute;
}

.frayrrusel-perspective {

    position: absolute;
    left: 50%;
    margin-left: -200px;
    height: 100%;
    margin-top: 60px;
}

.frayrrusel-perspective .frayrrusel-container {
    height: 100%;
    perspective: 2500px;
    perspective-origin: 200px;
    -webkit-perspective: 2500px;
    -webkit-perspective-origin: 200px;
    -moz-perspective: 2500px;
    -moz-perspective-origin: 200px;
    -o-perspective: 2500px;
    -o-perspective-origin: 200px;
    -ms-perspective: 2500px;
    -ms-perspective-origin: 200px;
}

.frayrrusel-animate-page {
    margin-top: -50px;
}

#page-1{
    background-color: blue;
}
#page-2{
    background-color: red;
}
#page-3{
    background-color: #8bffa7;
}
#page-4{
    background-color: green;
}
#page-5{
    background-color: orange;
}
#page-6{
    background-color: greenyellow;
}
#page-7{
    background-color: blueviolet;
}
#page-8{
    background-color: chocolate;
}
#page-9{
    background-color: yellow;
}
#page-10{
    background-color: brown;
}
#page-11{
    background-color: beige;
}
#page-12{
    background-color: fuchsia;
}
#page-13{
    background-color: forestgreen;
}
#page-14{
    background-color: azure;
}
#page-15{
    background-color: aqua;
}
